@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Reset*/
html,body {
    height:100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* 70px to remove the navbar*/
.fullscreen {
    min-height: calc(100vh - 70px);
    min-height: -moz-calc(100vh - 70px);
    min-height: -webkit-calc(100vh - 70px);
}

.fullscreen70 {
    min-height: calc(70vh - 70px);
    min-height: -moz-calc(70vh - 70px);
    min-height: -webkit-calc(70vh - 70px);
}